backend/deploy/docker-compose.yml
backend/deploy/Dockerfile
backend/.phpunit.cache
backend/public/build
backend/public/hot
backend/public/storage
backend/public/bucket
backend/storage/*.key
backend/vendor
backend/.env
backend/.env.example
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log
backend/.fleet
backend/.idea
backend/.vscode
backend/.git